.checkboxes {
    position: absolute;
    cursor: pointer;
    height: 28px;
    width: 28px;
    background-color: #eee;
}

.checkboxes:hover {
    background-color: #ccc;
}

.checkboxes:checked {
    background-color: #2196F3;
}

.checkboxes:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}